h1 {
  font-size: 10em;
  color: #f09; }

.box span {
  color: #f00; }
  .box span .box1 {
    margin: 10px;
    font-size: 100px; }

h2 {
  font-size: 10em;
  color: green; }

span {
  margin: 10px; }
