@import "base/var";
h1 {
    font-size: $num;
    color: $red-color;
}

.box {
    span {
        color: #f00;
        .box1 {
            margin: 10px;
            font-size: 100px;
        }
    }
}

h2 {
    font-size: $num;
    color: $blue-color;
}

span {
    margin: 10px;
}

//null
@mixin text1($nums, $colors, $dir, $margins:null) {
    span {
        font-size: $nums;
        color: $colors;
        margin: $margins dd {
            text-align: $dir;
        }
    }
}

@include text1(1em, #000, center);
.box2 {
    @include text1(2em, #f00, center);
}

//預設值
@mixin text2($marginleft:20px, $margintop:40px) {
    span {
        margin-left: $marginleft;
        margin-top: $margintop;
    }
}

@include text2(10px, 20px);
@mixin widths ($num-list, $num-width) {
    .row-#{$num-list} {
        width: $num-width;
    }
}

@include widths (classname, 100px);
//extend
.box {
    width: 100px;
    height: 50px;
    border: 1px solid #f00;
}

//extend
.wrapper {
    @extend .box;
}

//＆寫法
.box2 {
    color: blue;
    &.dof {
        margin: 10px;
    }
}

a {
    color: green;
    &:hover {
        color: red;
    }
}

//占位選擇器
%box1 {
    text-align: center;
    width: 100px;
    padding: 20px;
}

.box4 {
    @extend %box1;
}

.box5 {
    @extend %box1;
}

.box6 {
    @extend %box1;
}



// 加法


h1 {
  font-size: 10px + 20 ;
  width: 20 + 10px;  
}

$var01 : 20;

h2 {
  font-size: $var01 + px ;
  width: 20 + 10px;  
}

h3 {
      font-size: 10px + 20 * 20px ;
      width: 2em + 10em;
      padding: 2em * 10;  
}

h4 {
 font : (50px / 5px) ;
}





