$num :1em;
$red-color: #f00;
$blue-color: blue;


h1 {
    font-size: $num;
    color: $red-color;
}
.box {
 span {
   color: #f00;
   .box1 {
       margin:10px;
       font-size: 100px;
   }
 }
}

h2 {
    font-size: $num;
    color: $blue-color;
}

span {
    margin: 10px;
}